@mixin breakpoint-tablet-up() {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin breakpoint-desktop-up() {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}