@use 'util.scss';

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-layout {
    display: flex;
    justify-content: center;
    background-color: var(--primary-dark);
    color: white;
    padding-top: 6rem;

    @include util.mobile-view() {
        flex-direction: column;
    }
}

.page-content {
    //padding
    max-width: 739px;
    width: 66%;
    padding: 2rem 2.5rem;
    min-height: 100vh;
    background-color: var(--primary-dark);

    @include util.mobile-view() {
        width: 100%;
        padding: 1.5rem;
        max-width: 768px;
    }
}

//padding inbetween items on page
.home-page,
.blog-page {
    height: auto;
    min-height: 100vh;
    display: block;

    //add padding between items
    :not(:last-child) {
        margin-bottom: .75rem;

        .share-button{
            margin-bottom: 0rem;
        }
    }

    //adjust for lists that appear inside page
    .list-container {
        li {
            margin-bottom: 0rem;
        }
    }

    p {
        font-size: 1.1rem;
        color: #dbddef;
    }
}

//layout for wp feature posts block
.wp-block-post-template {
    &.is-layout-flow {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
}

//layout for wp-table
//TODO move to tables file
.wp-block-table {
    table {
        width: 100%;
    }

    th {
        border: 1px solid white;
        text-align: left;
        padding: 1rem;
    }
}

//applied to wp list components when converting to column based list, ie. tags
.horizontal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.light-bottom-border {
    border-bottom: 2px solid white;
    padding-bottom: 1rem;
}

//list item for WP List
.rating-list {

    .rating-item {
        display: flex;
        align-items: flex-start;
        //gap: 1rem;
        // overflow-wrap: nowrap;

        span {
            width: 15rem;
            text-overflow: ellipsis;

            @include util.mobile-view() {
                width: 13rem;
            }

            @include util.sm-mobile-view() {
                width: 10rem;
            }
        }

    }

    .rating-item:not(:last-child) {
        margin-bottom: .3rem;
    }
}

.blog-page {
    .share-section {
        display: flex;
        align-items: center;
        justify-content: baseline;
        gap: .5rem;
    }
}