// Wordpress + Storybook Default Text Styles
.wp-title {
    color: white;
}

.wp-block-heading {
    align-items: center;
    color: white;
}

h3{
    &.wp-block-heading {
        color: var(--primary-light);
    }
}

.blog-page, .home-page {
    p.caption-text {
    font-size: .95rem;
    color: lightslategray;
    font-style: italic;
    }
}