@use "./../../../styles/util.scss";

.contact {
  background-color: var(--primary-dark);

  p, a {
    font-weight: 500;
    color: white;
  }

  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  .links{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    // justify-content: center;
  }
}
