//primary and secondary colors
:root {
    --primary-light: #F6CA56;
    --primary-dark: #160026;
    --secondary-dark: #351150;

    //text colors
    --text-primary: white;
    --text-second: #dbddef;
}