.rating-icon-container {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  font-weight: 600;
  // justify-content: flex-end;
  // width: 10rem;
  height: 1rem;


  svg {
    fill: var(--primary-light);
    stroke: var(--primary-light);
  }
}