@use "./../../../styles/util.scss";
@use "./../../../styles/breakpoints.scss";

.score-card-section {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include breakpoints.breakpoint-tablet-up() {
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    > * {
      flex: 1 1 calc(33.333% - 1rem);
      max-width: calc(33.333% - 1rem);
    }
  }
}